<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Employee Management System</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <h1>Employee Management System</h1>
      <hr />
      <h2>Update Employee</h2>

      <form
        action="#"
        th:action="@{/saveEmployee}"
        th:object="${employee}"
        method="POST"
      >
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input
          type="text"
          th:field="*{firstName}"
          class="form-control mb-4 col-4"
        />

        <input
          type="text"
          th:field="*{lastName}"
          class="form-control mb-4 col-4"
        />

        <input
          type="text"
          th:field="*{email}"
          class="form-control mb-4 col-4"
        />

        <button type="submit" class="btn btn-info col-2">
          Update Employee
        </button>
      </form>

      <hr />

      <a th:href="@{/}"> Back to Employee List</a>
    </div>
  </body>
</html>
